.phrase {
	color: blue;
}

.profile{
    margin-left: auto;
    margin-right: auto;
    float: middle;
}

.resume{

	margin-left: 250px;
}

.picture{
  align-items: center;
}

.icons{

	margin-left: 250px;
	cursor: pointer;
	background-color: white;
    display: inline-block;
}

#github, #linkedin, #facebook{

	text-align: center;
}

.facebooktext, .githubtext, .linkedintext{
                visibility: hidden;
            }


#github:hover ~ .githubtext{
    visibility: visible;
    }

 #linkedin:hover ~ .linkedintext{
    visibility: visible;
    }
 #facebook:hover ~ .facebooktext{
    visibility: visible;
    }

 .about-text{

 	text-align: justify;
 }


  







