.phrase {
	color: blue;
}

.profile{
    margin-left: auto;
    margin-right: auto;
    float: middle;
}

.resume{

	margin-left: 250px;
}

.icons{

	margin-left: 250px;
	cursor: pointer;
	background-color: white;
    display: inline-block;
}



